
<div class="main-content">

  <div class="container">
    <div class="row">

      <div id="directions" class="col-lg-10">
        <form class="form-inline">
          <div class="form-group">
            <label for="starting-location">From City:</label>
            <input type="text" id="start" class="form-control" placeholder="starting location">
            <label for="starting-location">State:</label>
            <input type="text" id="start_state" class="form-control" placeholder="state">
          </div>

          <div class="form-group">
            <label for="destination">To City:</label>
            <input type="text" id="end" class="form-control" placeholder="destination">
            <label for="destination">State:</label>
            <input type="text" id="end_state" class="form-control" placeholder="state">
          </div>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="submit">Submit</button>
          </div>
        </form>
      </div>

      <div>
      Latitude: <span id="lat"></span><br/>
      Longitude: <span id="lng"></span><br/>
      <!--URL: <span id="url"></span><br/>-->
      Direction: <span id="urldir"></span>

      </div>

      <br/>
      <div id="map-container" class="col-lg-10">

          <div id="map-canvas" class="directions"></div>

      </div>

        <!--<iframe onchange="" width="800" height="420" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=Spokane%2C%20WA%2C%20United%20States&destination=Phoenix%2C%20AZ%2C%20United%20States&key=AIzaSyD-dLh3Bbh0_NbTfwUKoRuem-9vbXUbfSA"></iframe>-->
      <!--</div>-->

    </div>


    <div class="row">
      <div id="fuel-summary" class="col-lg-12">
        <h2>Fuel Summary</h2>
        Display of results
      </div>
      <!--End fuel summary-->
    </div>

    <div class="row">
      <div id="cities" class="col-lg-4">
        <h2>Cities</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis lorem et turpis cursus, imperdiet
          lacinia neque hendrerit. Mauris at gravida justo. Maecenas quis mattis ante. Phasellus non erat eu magna
          facilisis interdum vel nec turpis. Sed tincidunt nulla at metus commodo ornare. Suspendisse imperdiet diam ac
          libero pellentesque elementum. Donec interdum massa mi, ut tincidunt diam sagittis at. Maecenas suscipit
          libero id euismod tempus. </p>
      </div>

      <div id="directions-text" class="col-lg-4">
        <h2>Directions</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis lorem et turpis cursus, imperdiet
          lacinia neque hendrerit. Mauris at gravida justo. Maecenas quis mattis ante. Phasellus non erat eu magna
          facilisis interdum vel nec turpis. Sed tincidunt nulla at metus commodo ornare. Suspendisse imperdiet diam ac
          libero pellentesque elementum. Donec interdum massa mi, ut tincidunt diam sagittis at. Maecenas suscipit
          libero id euismod tempus. </p>
      </div>

      <div id="conditions" class="col-lg-4">
        <h2>Road Conditions</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis lorem et turpis cursus, imperdiet
          lacinia neque hendrerit. Mauris at gravida justo. Maecenas quis mattis ante. Phasellus non erat eu magna
          facilisis interdum vel nec turpis. Sed tincidunt nulla at metus commodo ornare. Suspendisse imperdiet diam ac
          libero pellentesque elementum. Donec interdum massa mi, ut tincidunt diam sagittis at. Maecenas suscipit
          libero id euismod tempus. </p>
      </div>
    </div>

  </div>
  <!--End container-->

</div>
<!--End main-content-->
