body {
    background-color: #8fc7aa;
}
a {
    text-decoration: none;
    color: #000000;
}
h2 {font-size: 1.5em;
    font-family: "Helvetica Neue", "Arial", sans-serif;

}

#main-map {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    border: solid #000000 2px;
    margin-top: 15px;
    margin-bottom: 5px;
    /*float: right;*/
}

#main-map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

#directions {
   margin-top: 5%;
}

li {
    list-style-type: none;
}

.navbar-nav > li:hover{
    background-color: #a4c6d0;
}

#main-nav button {
/*    margin-left: 15px;
    height: 60px;
    width: 200px;
    background-color: #f2e9be;
    float: left;
    border-radius: 8px;*/
}

.navbar-brand{
    font-size: 2em;
    /*background-color: #a4c6d0;*/
}
#main-nav a{
}

#main-footer{
    padding-top: 5%;
}
