body {
    background-color: #8fc7aa;
}
a {
    text-decoration: none;
    color: #000000;
}
h2 {font-size: 1.5em;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}
h3 {font-size: 1.2em;
    font-weight: bold;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

#user_options {
    float: left;
    width: 13%;
    margin-left: 10px;
    background-color: #c1e2b3;
}

#user_options ul {
    padding: 0;
}
#start_state, #end_state {
    width: 15%;
}
.form-group {
    width: 40%;
}
#map-container {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    border: solid #000000 2px;
    margin-top: 15px;
    margin-bottom: 5px;
    float: right;
}

#map-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

#directions {
   margin-top: 5%;
    float: right;
}

li {
    list-style-type: none;
}

.navbar-nav > li:hover{
    background-color: #a4c6d0;
}

#main-nav button {
/*    margin-left: 15px;
    height: 60px;
    width: 200px;
    background-color: #f2e9be;
    float: left;
    border-radius: 8px;*/
}

.navbar-brand{
    font-size: 2em;
    /*background-color: #a4c6d0;*/
}
#main-nav a{
}

#main-footer{
    padding-top: 5%;
}

/*map test*/
html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#directions-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}

#map-canvas {
    margin-right: 400px;
}

#control {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}

@media print {
    #map-canvas {
        height: 500px;
        margin: 0;
    }

    #directions-panel {
        float: none;
        width: auto;
    }
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
    max-width: none;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
    width: auto; display:inline;
}